<div nz-row nzAlign="top" nzJustify="space-between" style="margin: 24px">

  <div nz-col [nzXs] ="'24'" [nzXl] ="'8'">
    <div nz-row>
      <nz-card nz-col nzSpan="24">

        <team-details-widget-test
          [details]               = "teamDetails"
          [registrations]          = "[]"
          [mainTitle]             = "'Team Details'"
          [displayedColumnNames]  = "['id' , 'name' , 'coaches' , 'address' , 'owner' , 'registration'  , 'status' ]">
        </team-details-widget-test>

        <nz-divider></nz-divider>

        <stat-chart-multi-widget
          [multiData] = "recentStats"
          [title]     ="'Performance Details'">
        </stat-chart-multi-widget>

      </nz-card>
    </div>
  </div>

  <div nz-col [nzXs] ="'24'" [nzXl] ="'12'">
    <div nz-row nzJustify="space-between">
      <!-- TODO: Refactor into smaller widget inside a card + don't wrap in the main container. e.g. StatListWidget-->
      <game-list-widget nz-col [nzSpan]="'24'"
        (onGameSelectedEvent)  ="handleGameSelectedEvent($event)"
        [games]                ="recentGames"
        [title]                ="'Recent Games'">
      </game-list-widget>
    </div>
  </div>

</div>
