<nz-card
   *ngIf      ="displayedColumnNames"
   [nzTitle]  ="showHeader ? titleTemplate : null ">
  <perfect-scrollbar>
    <div>
      <nz-table
        #table
        [nzData]            = "statistics"
        [nzBordered]        = "true"
        [nzShowPagination]  = "false"
        [nzSize]            = "'small'"
        [nzPageSize]        = "statistics.length">
        <thead>
        <tr>
          <th *ngIf ="displayedColumnNames.includes('player')"  [colSpan] ="1" [rowSpan]="2">  Player Info   </th>
          <th *ngIf ="displayedColumnNames.includes('3pt')"     [colSpan] ="3" [rowSpan]="1">  3 pointers    </th>
          <th *ngIf ="displayedColumnNames.includes('2pt')"     [colSpan] ="3" [rowSpan]="1">  2 pointers    </th>
          <th *ngIf ="displayedColumnNames.includes('1pt')"     [colSpan] ="3" [rowSpan]="1">  Free throws   </th>
          <th *ngIf ="displayedColumnNames.includes('extra')"   [colSpan] ="4" [rowSpan]="1">  Other stats   </th>
          <th *ngIf ="displayedColumnNames.includes('fouls')"   [colSpan] ="1" [rowSpan]="2">  Fouls         </th>
          <th *ngIf ="displayedColumnNames.includes('actions')" [colSpan] ="1" [rowSpan]="2">  Actions       </th>
        </tr>
        <tr>
          <ng-container *ngIf="displayedColumnNames.includes('3pt')">
            <th [colSpan]="1">M</th>
            <th [colSpan]="1">T</th>
            <th [colSpan]="1">%</th>
          </ng-container>
          <ng-container *ngIf="displayedColumnNames.includes('2pt')">
            <th [colSpan]="1">M</th>
            <th [colSpan]="1">T</th>
            <th [colSpan]="1">%</th>
          </ng-container>
          <ng-container *ngIf="displayedColumnNames.includes('1pt')">
            <th [colSpan]="1">M</th>
            <th [colSpan]="1">T</th>
            <th [colSpan]="1">%</th>
          </ng-container>
          <ng-container *ngIf="displayedColumnNames.includes('extra')">
            <th [colSpan]="1">ast</th>
            <th [colSpan]="1">stl</th>
            <th [colSpan]="1">reb</th>
            <th [colSpan]="1">blk</th>
          </ng-container>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of table.data" (click)="emitStatSelectedEvent(data)">
          <ng-container *ngIf="displayedColumnNames.includes('player')">
            <td nz-typography nzType="secondary" style="display: flex; gap: 8px; align-items: center">
              <nz-avatar [nzText]="getAvatarText(data)" [nzSize]="'small'" style="flex-shrink: 0" ></nz-avatar>
              <span>
                {{ data.playerFirstName }} {{ data.playerLastName }}
              </span>
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('3pt')">
            <td nz-typography nzType="secondary">
              {{ (data.pt3M | number) }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.pt3T | number) }}
            </td>
            <td nz-typography nzType="secondary" style="min-width: 56px">
              {{ (data.pt3M ?? 1) / data.pt3T  | percent }}
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('2pt')">
            <td nz-typography nzType="secondary">
              {{ (data.pt2M | number) }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.pt2T | number) }}
            </td>
            <td nz-typography nzType="secondary" style="min-width: 56px">
              {{ (data.pt2M ?? 1) / data.pt2T  | percent }}
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('1pt')">
            <td nz-typography nzType="secondary">
              {{ (data.pt1M | number) }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.pt1T | number) }}
            </td>
            <td nz-typography nzType="secondary" style="min-width: 56px">
              {{ (data.pt1M ?? 1) / data.pt1T  | percent }}
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('extra')">
            <td nz-typography nzType="secondary">
              {{ (data.assists | number) }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.steals | number) }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.rebounds | number) }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.turnovers | number) }}
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('fouls')">
            <td style="text-align: center">
              <nz-badge nzShowZero nzStandalone [nzCount]="data.fouls ?? 0" style="min-width: 30px"></nz-badge>
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('actions')">
            <td>
              <nz-button-group>
                <button
                  nz-button
                  [disabled]  ="data.fouls > 4 "
                  [nzSize]    ="'small'"
                  (click)     ="emitStatDecreasedEvent(data)">
                  <i nz-icon nzType="minus"></i>
                </button>
                <button
                  nz-button
                  [disabled]  ="data.fouls > 4 "
                  [nzSize]    ="'small'"
                  (click)     ="emitStatIncreasedEvent(data)">
                  <i nz-icon nzType="plus"></i>
                </button>
                </nz-button-group>
            </td>
          </ng-container>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </perfect-scrollbar>
</nz-card>

<ng-template #titleTemplate>
  <div style="display: flex; flex-flow: row nowrap; justify-content: space-between">
    <h5 nz-typography style ="font-weight: 400; margin-bottom: 0; color: white">
      {{ teamName | uppercase }}
    </h5>
    <nz-tag style="border-radius: 12px; min-width: 40px; text-align: center">
      {{ teamScore | number }} points
    </nz-tag>
  </div>
</ng-template>
