:host ::ng-deep .ant-card-body {
  padding: 0;
}

:host ::ng-deep .ant-table table {
  text-align: center;
}

:host ::ng-deep .ant-table table thead tr th {
  text-align: center;
}

:host ::ng-deep .ant-card-head {
  padding: 0;
  background: #0C2556;
}

:host ::ng-deep .ant-card-head-wrapper {
  padding: 0 8px;
}

