<nz-card
  *ngIf      ="displayedColumnNames"
  [nzTitle]  ="showHeader ? titleTemplate : null ">
  <perfect-scrollbar>
    <div>
      <nz-table
        #table
        [nzData]            = "games"
        [nzBordered]        = "false"
        [nzShowPagination]  = "false"
        [nzSize]            = "'small'"
        [nzPageSize]        = "games.length">
        <thead>
          <tr>
            <th *ngIf ="displayedColumnNames.includes('date')"                         [colSpan] ="1" [rowSpan]="1">  Date       </th>
            <th *ngIf ="displayedColumnNames.includes('teams')"  [nzWidth]="'200px'"   [colSpan] ="1" [rowSpan]="1">  Home team  </th>
            <th *ngIf ="displayedColumnNames.includes('scores')"                       [colSpan] ="1" [rowSpan]="1">  Home score </th>
            <th *ngIf ="displayedColumnNames.includes('scores')"                       [colSpan] ="1" [rowSpan]="1">  Away score </th>
            <th *ngIf ="displayedColumnNames.includes('teams')"  [nzWidth]="'200px'"   [colSpan] ="1" [rowSpan]="1">  Away team  </th>
            <th *ngIf ="displayedColumnNames.includes('time')"                         [colSpan] ="1" [rowSpan]="1">  Time       </th>
          </tr>
        </thead>

        <tbody>
        <tr *ngFor="let data of table.data; let ranking=index">

          <ng-container *ngIf="displayedColumnNames.includes('date')">
            <td nz-typography nzType="secondary" style="text-align: center">
              <span>
                {{ (data.scheduledStartTime | dateArrayConverter) [1]  }}
                <br>
                {{ (data.scheduledStartTime| dateArrayConverter) [2]  }}
              </span>
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('teams')">
            <td nz-typography nzType="secondary">
              {{ data.teamHome | titlecase }}
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('scores')">
            <td nz-typography nzType="secondary">
              <nz-tag nzColor="#11A1FD" style="border-radius: 12px; min-width: 40px; text-align: center">
                {{ data.teamHomeScore ?? 0 | number }}
              </nz-tag>
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('scores')">
            <td nz-typography nzType="secondary">
              <nz-tag nzColor="#11A1FD" style="border-radius: 12px; min-width: 40px; text-align: center">
                {{ data.teamAwayScore ?? 0 | number }}
              </nz-tag>
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('teams')">
            <td nz-typography nzType="secondary">
              {{ data.teamAway | titlecase }}
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('time')">
            <td nz-typography nzType="secondary">
              {{ data.scheduledStartTime.split(" ")[1] }}
            </td>
          </ng-container>

        </tbody>
      </nz-table>
    </div>
  </perfect-scrollbar>
</nz-card>
<ng-template #titleTemplate>
  <div style="display: flex; flex-flow: row nowrap; justify-content: space-between">
    <h5 nz-typography style ="font-weight: 400; margin-bottom: 0; color: white">
      {{ title | uppercase }}
    </h5>
    <nz-tag style="border-radius: 12px; min-width: 40px; text-align: center">
      Round {{ subTitle| number }}
    </nz-tag>
  </div>
</ng-template>

