<nz-card nz-col [nzTitle]="titleTemplate">
  <nz-table
      #table
      [nzData]            ="games"
      [nzTableLayout]     ="'auto'"
      [nzShowPagination]  ="false"
      [nzPageSize]        ="5">
    <tbody>
    <tr *ngFor="let game of table.data" (click)="emitGameSelectedEvent(game)">
      <td style="text-align: center">
        <span
          nz-typography
          nzType      ="secondary"
          style       ="font-weight: 500">
            {{ (game.scheduledStartTime | dateArrayConverter) [1]  }}
          <br>
            {{ (game.scheduledStartTime| dateArrayConverter) [2]  }}
        </span>
      </td>
      <td>
        <span nz-typography>
          {{ game.teamHome }}
        </span>
      </td>
      <td style="text-align: center">
        <nz-tag [nzColor]="'#11A1FD'" style="min-width: 40px">
          {{ game.teamHomeScore }}
        </nz-tag>
      </td>
      <td style="text-align: center">
        <nz-tag [nzColor]="'#11A1FD'" style="min-width: 40px">
          {{ game.teamAwayScore }}
        </nz-tag>
      </td>
      <td>
        <span nz-typography>
          {{ game.teamAway }}
        </span>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #titleTemplate>
  <span nz-typography style ="font-weight: 500; margin-bottom: 0">
    {{ title | titlecase }}
  </span>
</ng-template>

<ng-template #descriptionTemplate>
  <span nz-typography nzType ="secondary">
    {{ subTitle }}
  </span>
</ng-template>
