<div nz-row nzJustify="space-between" [nzGutter]="responsiveGutterClasses">
  <stat-list-widget
    nz-col
    [nzSpan]              ="11"
    [showHeader]          ="true"
    [statistics]          ="statistics | statisticsFilter : details.teamHomeId "
    [teamName]            ="details.teamHome"
    [teamScore]           ="details.teamHomeScore"
    [displayedColumnNames]="['player', '3pt', '2pt', '1pt', 'extra', 'fouls', 'actions']"
    (onStatIncreasedEvent)="handleStatDetailsChangedEvent($event, true)"
    (onStatDecreasedEvent)="handleStatDetailsChangedEvent($event, false)">
  </stat-list-widget>

  <div nz-col nzSpan="2" style="display:flex; align-items: flex-start; justify-content: center">
    <nz-select [ngModel]="'pt1M'" (ngModelChange)="onSelectedStatChanged($event)" style="min-width: 150px; text-align: center">
      <nz-option
        *ngFor="let item of statisticsMap | keyvalue"
        [nzValue]="item.key"
        [nzLabel]="item.value">
      </nz-option>
    </nz-select>
  </div>

  <stat-list-widget
    nz-col
    [nzSpan]              ="11"
    [showHeader]          ="true"
    [statistics]          ="statistics | statisticsFilter : details.teamAwayId "
    [teamName]            ="details.teamAway"
    [teamScore]           ="details.teamAwayScore"
    [displayedColumnNames]="['player', '3pt', '2pt', '1pt', 'extra', 'fouls', 'actions']"
    (onStatIncreasedEvent)="handleStatDetailsChangedEvent($event, true)"
    (onStatDecreasedEvent)="handleStatDetailsChangedEvent($event, false)">
  </stat-list-widget>


</div>

