<div nz-row nzAlign="top" nzJustify="space-between" style="margin: 24px">

  <div nz-col [nzXs] ="'24'" [nzXl] ="'8'">
    <div nz-row>
      <nz-card nz-col nzSpan="24">

        <game-details-widget-test
          [details]               = "details"
          [mainTitle]             ="'Game Details'"
          [displayedColumnNames]  ="['teamHome', 'teamAway', 'dateTime', 'location']">
        </game-details-widget-test>

        <nz-divider></nz-divider>

        <game-map-widget
          [gameDetails]       ="details"
          [availableReferees] ="getAvailableReferees()"
          (onRefereeAssignedEvent)="handleRefereeAssignedEvent($event)" >

        </game-map-widget>

      </nz-card>
    </div>
  </div>

  <div nz-col [nzXs] ="'24'" [nzXl] ="'12'" >
    <div nz-row>
      <registration-widget style="margin-bottom: 12px"
        nz-col
        [nzSpan]                          ="'24'"
        [showHeader]                      ="true"
        [registrations]                   ="registrations | registrationFilter : details.teamHomeId "
        [selectedRegistrations]           ="selectedRegistrations"
        [teamName]                        ="details.teamHome"
        [teamScore]                       ="0"
        [displayedColumnNames]            ="['action', 'id','name', 'birth', 'position', 'jersey' ]"
        (onAllRegistrationSelectedEvent)  ="handleAllSelectedEvent($event, details.teamHomeId)"
        (onRegistrationSelectedEvent)     ="handlePlayerSelectedEvent($event)">
      </registration-widget>

      <registration-widget style="margin-top: 12px"
       nz-col
       [nzSpan]                          ="'24'"
       [showHeader]                      ="true"
       [registrations]                   ="registrations | registrationFilter : details.teamAwayId"
       [selectedRegistrations]           ="selectedRegistrations"
       [teamName]                        ="details.teamAway"
       [teamScore]                       ="0"
       [displayedColumnNames]            ="['action', 'id','name', 'birth', 'position', 'jersey' ]"
       (onAllRegistrationSelectedEvent)  ="handleAllSelectedEvent($event, details.teamAwayId)"
       (onRegistrationSelectedEvent)     ="handlePlayerSelectedEvent($event)">
      </registration-widget>

    </div>

  </div>

</div>
