
<nz-page-header style="margin: 24px">
  <nz-page-header-title>Players</nz-page-header-title>
  <nz-page-header-extra>
    <div nz-row nzAlign="middle" nzJustify="center" [nzGutter]="responsiveGutterClasses">
      <form nz-col nzSpan="24" nzLg="14" nz-form [formGroup]="form" [nzLayout]="'inline'">
        <nz-form-control>
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" formControlName="search" nz-input placeholder="Global search players" />
          </nz-input-group>
        </nz-form-control>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </form>
      <div nz-col nzSpan="0" nzLg="8">
        <button nz-button nzType="primary" (click)="handlePlayerAddEvent()">
          <i nz-icon nzType="plus"></i>
          Add player
        </button>
      </div>
    </div>
  </nz-page-header-extra>
  <nz-page-header-content>
    <player-list-widget
      [players]           = "players | playerFilter: playerSearchCriteria "
      [title]             ="'Players list'"
      (onPlayerSelected)  = "handlePlayerSelectedEvent($event)">
    </player-list-widget>
  </nz-page-header-content>
</nz-page-header>
