<li nz-menu-group [nzTitle]="isCollapsed ? null : item.title | uppercase">
  <ul>
    <!--This is where the LEAVE items get rendered-->
      <antx-menu-item antUnwrap
        *ngFor          ="let menuItem of childItems(item)"
        [item]          ="menuItem"
        [parent]        ="false">
      </antx-menu-item>
    <!--This is where the ROOT items get rendered-->
      <antx-menu-item antUnwrap
        *ngFor          ="let menuItem of rootItems(item)"
        [item]          ="menuItem"
        [parent]        ="true">
      </antx-menu-item>
  </ul>
</li>





<!--  <li nz-menu-group [nzTitle]="isCollapsed ? null : item.title | uppercase">-->
<!--    <ul>-->
<!--      &lt;!&ndash;This is where the LEAVE items get rendered&ndash;&gt;-->
<!--        <antx-menu-item antUnwrap-->
<!--          *ngFor          ="let menuItem of childItems(item)"-->
<!--          [item]          ="menuItem"-->
<!--          [parent]        ="false">-->
<!--        </antx-menu-item>-->
<!--      &lt;!&ndash;This is where the ROOT items get rendered&ndash;&gt;-->
<!--        <antx-menu-item antUnwrap-->
<!--          *ngFor          ="let menuItem of rootItems(item)"-->
<!--          [item]          ="menuItem"-->
<!--          [parent]        ="true">-->
<!--        </antx-menu-item>-->
<!--    </ul>-->
<!--  </li>-->



