<ng-template [ngIf]="parent === false">
  <li nz-menu-item
      [routerLink]="item.routerLink">
    <div>
      <i nz-icon [nzType]="item.icon"></i>
      <span>{{ item.label }}</span>
    </div>
  </li>
</ng-template>

<ng-template [ngIf]="parent === true">
  <ul>
    <li nz-submenu
        [nzTitle] ="item.label"
        [nzIcon]  ="item.icon">
      <ul>
        <li nz-menu-item
            *ngFor="let child of item.children"
            [routerLink]="item.routerLink">
          <div>
            <i nz-icon [nzType]="child.icon"></i>
            <span>{{ child.label }}</span>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</ng-template>
