<nz-card
  *ngIf      ="displayedColumnNames"
  [nzTitle]  ="showHeader ? titleTemplate : null ">
  <perfect-scrollbar>
    <div>
      <nz-table
        #table
        [nzData]            = "rankings"
        [nzBordered]        = "true"
        [nzShowPagination]  = "false"
        [nzSize]            = "'small'"
        [nzPageSize]        = "10">
        <thead>
        <tr>
          <th *ngIf ="displayedColumnNames.includes('#')"           [colSpan] ="1" [rowSpan]="2">  #          </th>
          <th *ngIf ="displayedColumnNames.includes('games')"       [colSpan] ="1" [rowSpan]="2">  Team       </th>
          <th *ngIf ="displayedColumnNames.includes('name')"        [colSpan] ="3" [rowSpan]="1">  Games      </th>
          <th *ngIf ="displayedColumnNames.includes('total')"       [colSpan] ="5" [rowSpan]="1">  Totals     </th>
          <th *ngIf ="displayedColumnNames.includes('avg')"         [colSpan] ="5" [rowSpan]="1">  Averages   </th>
        </tr>
        <tr>
          <ng-container *ngIf="displayedColumnNames.includes('games')">
            <th [colSpan]="1">W</th>
            <th [colSpan]="1">L</th>
            <th [colSpan]="1">total</th>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('total')">
            <th [colSpan]="1">pts</th>
            <th [colSpan]="1">reb</th>
            <th [colSpan]="1">ast</th>
            <th [colSpan]="1">stl</th>
            <th [colSpan]="1">to</th>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('avg')">
            <th [colSpan]="1">pts</th>
            <th [colSpan]="1">reb</th>
            <th [colSpan]="1">ast</th>
            <th [colSpan]="1">stl</th>
            <th [colSpan]="1">to</th>
          </ng-container>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let data of table.data; let ranking=index">

          <ng-container *ngIf="displayedColumnNames.includes('#')">
            <td nz-typography nzType="secondary">
              <span>
                {{ ranking + 1 }}
              </span>
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('name')">
            <td nz-typography nzType="secondary">
              <nz-avatar [nzText]="data.name | teamInitialConverter " [nzSize]="'small'" style="flex-shrink: 0" ></nz-avatar>
              <span>
                {{ data.name }}
              </span>
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('games')">
            <td nz-typography nzType="secondary">
              {{ (data.gamesWon    | number)   }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.gamesLost | number)   }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.gamesPlayed   | number)   }}
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('total')">
            <td nz-typography nzType="secondary">
              {{ (data.totalPoints    | number)   }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.totalRebounds  | number)   }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.totalAssists   | number)   }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.totalSteals    | number)   }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.totalTurnovers | number)   }}
            </td>
          </ng-container>

          <ng-container *ngIf="displayedColumnNames.includes('avg')">
            <td nz-typography nzType="secondary">
              {{ (data.avgPoints    | number: '1.1-1')   }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.avgRebounds  | number: '1.1-1')   }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.avgAssists   | number: '1.1-1')   }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.avgSteals    | number: '1.1-1')   }}
            </td>
            <td nz-typography nzType="secondary">
              {{ (data.avgTurnovers | number: '1.1-1')   }}
            </td>
          </ng-container>

        </tbody>
      </nz-table>
    </div>
  </perfect-scrollbar>
</nz-card>

<ng-template #titleTemplate>
  <div style="display: flex; flex-flow: row nowrap; justify-content: space-between">
    <h5 nz-typography style ="font-weight: 400; margin-bottom: 0; color: white">
      {{ title | uppercase }}
    </h5>
  </div>
</ng-template>
