/* ------------------------- BASIC VARIABLES ------------------------- */
@import './src/styles';

@sign-up-form-padding:        @padding-lg;
@sign-up-form-margin:         @margin-lg;
@sign-up-form-explain-size:   @font-size-sm;
@sign-up-form-button-width:   100%;
/* ------------------------------------------------------------------- */

/* ------------------------ DEFAULT OVERRIDES ------------------------ */
:host ::ng-deep .ant-form-item-explain {
  text-align:     start;
  font-size:      @sign-up-form-explain-size;
}
/* ------------------------------------------------------------------- */


.sign-up-form__title {
  margin-bottom:  @sign-up-form-margin;
}

.sign-up-form__button {
  width:          @sign-up-form-button-width;
}
