<div class="sign-up-form__title">
  <h2 nz-typography>Sign Up</h2>
  <span nz-typography nzType="secondary">Create a new account & continue</span>
</div>

<nz-divider></nz-divider>

<form nz-form [nzNoColon]="true" [formGroup]="form" class="sign-up-form__content">

  <!--  This where the form field for USERNAME gets rendered -->
  <nz-form-item>
    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'username'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Username' | uppercase }}
      </span>
    </nz-form-label>

    <nz-form-control
      nzHasFeedback
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-input-group [nzPrefixIcon]="'user'">
        <input
          nz-input
          type             ="text"
          formControlName  ="username"
          placeholder      ="Enter username"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>


  <!--  This where the form field for EMAIL gets rendered -->
  <nz-form-item>
    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'email'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Email' | uppercase }}
      </span>
    </nz-form-label>

    <nz-form-control
      nzHasFeedback
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-input-group [nzPrefixIcon]="'mail'">
        <input
          nz-input
          type             ="text"
          formControlName  ="email"
          placeholder      ="Enter email"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>


  <!--  This where the form field for NAME gets rendered -->
  <nz-form-item>
    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'name'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Name' | uppercase }}
      </span>
    </nz-form-label>

    <nz-form-control
      nzHasFeedback
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-input-group [nzPrefixIcon]="'contacts'">
        <input
          nz-input
          type             ="text"
          formControlName  ="name"
          placeholder      ="Enter your name"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>


  <!--  This where the form field for PASSWORD gets rendered -->
  <nz-form-item>
    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'password'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Password' | uppercase }}
      </span>
    </nz-form-label>

    <nz-form-control
      nzHasFeedback
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-input-group [nzPrefix]="prefixTemplate">
        <input
          nz-input
          [formControlName]   ="'password'"
          [placeholder]       ="'Enter Password'"
          [type]              ="(masked$ | async) ? 'password' : 'text' "/>
      </nz-input-group>
      <ng-template #prefixTemplate>
        <i nz-icon
           (click)            ="changeMasked()"
           [nzType]           ="(masked$ | async) ? 'eye-invisible' : 'eye' "
           [nzTheme]          ="'outline'">
        </i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <!--  This where the form field for ROLE gets rendered -->
  <nz-form-item>
    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'role'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Role' | uppercase }}
      </span>
    </nz-form-label>

    <nz-form-control
      nzHasFeedback
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-select
          [nzMaxMultipleCount]  ="1"
          [formControlName]     ="'role'"
          [nzMode]              ="'tags'">
        <nz-option
          *ngFor="let role of rolesList"
          [nzLabel]="role.name.split('_')[1]"
          [nzValue]="role">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!--  This where the controls for OTHER ITEMS gets rendered -->
  <div nz-row [nzJustify]="'center'" [nzGutter]="responsiveGutterClasses">

    <div nz-col [nzSpan]="24">
      <button nz-button
              class="sign-up-form__button"
              [disabled]  ="form.invalid"
              [nzType]    ="'primary'"
              (click)     ="handleRegistration()">
        Register
      </button>
    </div>

    <div nz-col [nzSpan]="24">
      <span nz-typography>Already have an account?</span>
      <span nz-typography style="font-weight: 600">
        <a [routerLink]="'/auth/login'">Sign In</a>
      </span>
    </div>

  </div>

</form>


<ng-template #errorsTemplate let-control>
  <ng-container *ngIf="control.hasError('maxlength')">
    The given input should be at most  {{ control.errors['maxlength'].requiredLength }} characters.
  </ng-container>
  <ng-container *ngIf="control.hasError('minlength')">
    The given input should be at least {{ control.errors['minlength'].requiredLength }} characters.
  </ng-container>
  <ng-container *ngIf="control.hasError('required')">
    The given input is required.
  </ng-container>
  <ng-container *ngIf="control.hasError('email')">
    The given input must be in a valid email format.
  </ng-container>
</ng-template>
