<div class="sign-in-form__title">
  <h2 nz-typography>Sign In</h2>
  <span nz-typography nzType="secondary">Log in to your account to continue</span>
</div>

<nz-divider></nz-divider>

<form nz-form [nzNoColon]="true" [formGroup]="form" class="sign-in-form__content">

  <!--  This where the form field for USERNAME gets rendered -->
  <nz-form-item>
    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'username'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Username' | uppercase }}
      </span>
    </nz-form-label>

    <nz-form-control
      nzHasFeedback
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-input-group [nzPrefixIcon]="'user'">
        <input
          nz-input
          type             ="text"
          formControlName  ="username"
          placeholder      ="Enter username"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>


  <!--  This where the form field for PASSWORD gets rendered -->
  <nz-form-item>
    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'password'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Password' | uppercase }}
      </span>
    </nz-form-label>

    <nz-form-control
      nzHasFeedback
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-input-group [nzPrefix]="prefixTemplate">
        <input
          nz-input
          [formControlName]   ="'password'"
          [placeholder]       ="'Enter Password'"
          [type]              ="(masked$ | async) ? 'password' : 'text' "/>
      </nz-input-group>
      <ng-template #prefixTemplate>
        <i nz-icon
           (click)            ="changeMasked()"
           [nzType]           ="(masked$ | async) ? 'eye-invisible' : 'eye' "
           [nzTheme]          ="'outline'">
        </i>
      </ng-template>
    </nz-form-control>
  </nz-form-item>


  <!--  This where the controls for OTHER ITEMS gets rendered -->
  <div nz-row [nzJustify]="'center'" [nzGutter]="responsiveGutterClasses">

    <div nz-col [nzSpan] ="24" style ="text-align: start">
      <label nz-checkbox formControlName ="remember">
        <span nz-typography>
          Remember me</span>
      </label>
    </div>

    <div nz-col [nzSpan]="24">
      <button nz-button
              class="sign-in-form__button"
              [disabled]  ="form.invalid"
              [nzType]    ="'primary'"
              (click)     ="handleLogin()">
        Login
      </button>
    </div>

    <div nz-col [nzSpan]="24">
      <span nz-typography>Dont have an account?</span>
      <span nz-typography style="font-weight: 600">
        <a [routerLink]="'/auth/register'">Sign Up</a>
      </span>
    </div>

  </div>

</form>


<ng-template #errorsTemplate let-control>
  <ng-container *ngIf="control.hasError('maxlength')">
    The given input should be at most  {{ control.errors['maxlength'].requiredLength }} characters.
  </ng-container>
  <ng-container *ngIf="control.hasError('minlength')">
    The given input should be at least {{ control.errors['minlength'].requiredLength }} characters.
  </ng-container>
  <ng-container *ngIf="control.hasError('required')">
    The given input is required.
  </ng-container>
</ng-template>
