/* ------------------------- BASIC VARIABLES ------------------------- */
@import './src/styles';

/* ------------------------------------------------------------------- */


:host{
  width: 100%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.toolbar__trigger {
  font-size: 24px;
  cursor: pointer;
}

