<i nz-icon nzType="antx:menu" class="toolbar__trigger"></i>
<div style="flex: 1" ></div>
<a nz-dropdown
   [nzTrigger]="'click'"
   [nzDropdownMenu]="menu">
  <nz-avatar nzSize="small" nzIcon="user"></nz-avatar>
</a>

<nz-dropdown-menu #menu="nzDropdownMenu">

  <ul nz-menu style="min-width: 200px">
    <div style="display: flex; flex-flow: column nowrap; align-items: stretch; padding: 12px " >
      <h5 nz-typography style="margin-bottom: 0">{{ toolbarUser.username }}</h5>
      <span nz-typography nzType="secondary"> {{ toolbarUser.email }}</span>
    </div>

    <nz-divider style="margin: 6px" ></nz-divider>
    <li nz-menu-item>
      <i nz-icon nzType="user" style="margin-right: 6px"></i>
      Profile
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="setting" style="margin-right: 6px"></i>
      Settings
    </li>
    <div style="display: flex; flex-flow: column nowrap; align-items: stretch; padding: 12px" >
      <button nz-button nz nzType="primary" style="border-radius: 2px">LOGOUT</button>
    </div>

  </ul>
</nz-dropdown-menu>
