<form nz-form [nzNoColon]="true" [formGroup]="form">

  <!--  This where the form field for NAME gets rendered -->
  <nz-form-item>

    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'name'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Name' | uppercase }}
      </span>
    </nz-form-label>

    <nz-form-control
      nzHasFeedback
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-input-group>
        <input
          nz-input
          type             ="text"
          formControlName  ="name"
          placeholder      ="Enter full name here"/>
      </nz-input-group>
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>

    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'name'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Birth' | uppercase }}
      </span>
    </nz-form-label>

    <nz-form-control
      nzHasFeedback
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-date-picker
        style             ="width: 100%"
        formControlName   ="birth"
        [nzPlaceHolder]   = "'Pick birth date here'">
      </nz-date-picker>
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>

    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'weight'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Weight' | uppercase }}
      </span>
    </nz-form-label>

    <nz-form-control
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-input-group [nzAddOnAfter]="'kg'">
        <input
          nz-input
          type             ="text"
          formControlName  ="weight"
          placeholder      ="Enter weight here"/>
      </nz-input-group>
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>

    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'height'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Height' | uppercase }}
      </span>
    </nz-form-label>

    <nz-form-control
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-input-group [nzAddOnAfter]="'cm'">
        <input
          nz-input
          type             ="text"
          formControlName  ="height"
          placeholder      ="Enter height here"/>
      </nz-input-group>
    </nz-form-control>

  </nz-form-item>


</form>

<div *nzModalTitle style="display: flex; align-items: center; gap: 6px">
  <span nz-typography>Register Player</span>
</div>

<div *nzModalFooter>
  <button nz-button nzType="default"
    [nzLoading]="false"
    (click)="onCancel()">
    Cancel
  </button>
  <button nz-button nzType="primary"
    [disabled]="form.invalid"
    [nzLoading]="(isLoading$ | async)"
    (click)="onSave()">
    Save
  </button>
</div>

<ng-template #errorsTemplate let-control>
  <ng-container *ngIf="control.hasError('maxlength')">
    The given input should be at most  {{ control.errors['maxlength'].requiredLength }} characters.
  </ng-container>
  <ng-container *ngIf="control.hasError('minlength')">
    The given input should be at least {{ control.errors['minlength'].requiredLength }} characters.
  </ng-container>
  <ng-container *ngIf="control.hasError('required')">
    The given input is required.
  </ng-container>
</ng-template>
