<nz-card [nzBordered]="false" [nzBodyStyle]="{ 'padding': 0 }">
  <nz-card-meta
    [nzTitle]       ="titleTemplate"
    [nzDescription] ="descriptionTemplate">
  </nz-card-meta>

  <nz-divider></nz-divider>

  <ng-container *ngIf="displayedColumnNames.includes('birth')">

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
        <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Birthday' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
        <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
          {{ details.birthDate | date }}
      </span>
      </div>
    </div>

  </ng-container>


  <ng-container *ngIf="displayedColumnNames.includes('personal')">

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Height' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ details.height | number }} cm
      </span>
      </div>
    </div>

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
        <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Weight' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
        <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ details.weight | number }} kg
      </span>
      </div>
    </div>

  </ng-container>


  <ng-container *ngIf="displayedColumnNames.includes('team')">

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
        <span
          nz-typography
          nzType      ="secondary"
          style       ="font-weight: 500">
        {{ 'Team' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
        <span
          nz-typography
          nzType      ="secondary"
          style       ="font-weight: 500">
        {{ registration.teamName ?? 'Not known' }}
      </span>
      </div>
    </div>

  </ng-container>


  <ng-container *ngIf="displayedColumnNames.includes('position')">

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
        <span
          nz-typography
          nzType      ="secondary"
          style       ="font-weight: 500">
        {{ 'Position' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
        <span
          nz-typography
          nzType      ="secondary"
          style       ="font-weight: 500">
        {{ registration.position ?? 'Not known' }}
      </span>
      </div>
    </div>

  </ng-container>


  <ng-container *ngIf="displayedColumnNames.includes('jersey')">

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
        <span
          nz-typography
          nzType      ="secondary"
          style       ="font-weight: 500">
        {{ 'Jersey' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
        <span
          nz-typography
          nzType      ="secondary"
          style       ="font-weight: 500">
        <nz-tag nzColor="#11A1FD" style="border-radius: 12px; min-width: 40px; text-align: center">
          {{ (registration.jerseyNumber | number) ?? 'Not assigned' }}
        </nz-tag>
      </span>
      </div>
    </div>

  </ng-container>



</nz-card>

<ng-template #titleTemplate>
  <div style="display: flex; flex-flow: row nowrap; justify-content: space-between">
    <h5 nz-typography style ="font-weight: 500; margin-bottom: 0">
      {{ mainTitle | titlecase }}
    </h5>
    <nz-tag style="border-radius: 12px">
      {{ details.active ? 'Active' : 'Inactive' }}
    </nz-tag>
  </div>
</ng-template>

<ng-template #descriptionTemplate>
  <span nz-typography nzType ="secondary">
    {{ details.name | titlecase }}
  </span>
</ng-template>
