<nz-layout class="unauthorized-layout">
  <nz-content class="unauthorized-content">
    <nz-result nzStatus="403" nzTitle="403" nzSubTitle="Sorry, you are not authorized to access this page.">
      <div nz-result-extra>
        <button nz-button nzType="primary" [routerLink]="'/auth'">Back to Login</button>
      </div>
    </nz-result>
  </nz-content>
</nz-layout>
