@import "./src/styles.less";

.unauthorized-layout {
  height: 100vh;
}

.unauthorized-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 @padding-md;
  flex: 1 1 auto; overflow: auto;
}
