<nz-card>
  <perfect-scrollbar>
    <div>
      <nz-table #table
        [nzData]            ="players"
        [nzTableLayout]     ="'auto'"
        [nzShowPagination]  ="true"
        [nzShowSizeChanger] ="true"
        [nzPageSizeOptions] ="[5]"
        [nzPageSize]        ="5">
        <thead>
        <tr>
          <th
            *ngFor              ="let column of displayedColumns"
            [nzSortOrder]       ="column.sortOrder"
            [nzSortFn]          ="column.sortFn"
            [nzSortDirections]  ="column.sortDirections"
            [nzFilterMultiple]  ="column.filterMultiple"
            [nzShowFilter]      ="column.filterValues.length > 0"
            [nzFilters]         ="column.filterValues"
            [nzFilterFn]        ="column.filterFn">
            {{ column.name }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of table.data" (click)="emitPlayerSelectedEvent(data)">
          <td>
            {{ data.id }}
          </td>
          <td>
            <div style="display: flex; align-items: center; gap: 8px">
              <nz-avatar [nzText]="data.name | playerInitialsConverter"></nz-avatar>
              <div style="display: flex; flex-flow: column nowrap">
                <span nz-typography style="font-weight: 500"> {{ data.name }} </span>
                <span nz-typography nzType="secondary" style="font-weight: 300"> {{ data.team }} </span>
              </div>
            </div>
          </td>
          <td>
            <span nz-typography style="font-weight: 500">
              {{ data.birthDate | date }}
            </span>
          </td>
          <td>
            <span nz-typography style="font-weight: 500">
              {{ data.height }} cm
            </span>
          </td>
          <td>
            <span nz-typography style="font-weight: 500">
              {{ data.weight }} kg
            </span>
          </td>
          <td>
            <nz-tag style="min-width: 64px; text-align: center" [nzColor]="data.active ? 'success': 'error'">
              {{ data.active ? 'Active' : 'Inactive' }}
            </nz-tag>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </perfect-scrollbar>
</nz-card>
