<nz-card [nzBordered]="false" [nzBodyStyle]="{ 'padding': 0  }" style="width: 300px">
  <nz-card-meta
    [nzTitle]       ="titleTemplate"
    [nzDescription] ="descriptionTemplate">
  </nz-card-meta>
</nz-card>

<nz-divider></nz-divider>

<div nz-row style="margin: 8px 0">
  <div nz-col nzSpan="12">
    <span
      nz-typography
      nzType      ="secondary"
      style       ="font-weight: 500">
      {{ 'Address' | uppercase }}
    </span>
  </div>
  <div nz-col nzSpan="12">
    <span
      nz-typography
      nzType      ="secondary"
      style       ="font-weight: 500">
      {{ details.address | addressJoin }}
    </span>
  </div>
</div>

<div nz-row style="margin: 8px 0">
  <div nz-col nzSpan="12">
    <span
      nz-typography
      nzType      ="secondary"
      style       ="font-weight: 500">
      {{ 'Destination' | uppercase }}
    </span>
  </div>
  <div nz-col nzSpan="12">
    <span
      nz-typography
      nzType      ="secondary"
      style       ="font-weight: 500">
      {{ details.actualDistance | number }} m
    </span>
  </div>
</div>

<ng-template #titleTemplate>
  <div style="display: flex; flex-flow: row nowrap; justify-content: space-between">
    <h5 nz-typography style ="font-weight: 500; margin-bottom: 0">
      {{ mainTitle | titlecase }}
    </h5>
  </div>
</ng-template>

<ng-template #descriptionTemplate>
  <span nz-typography nzType ="secondary">
    {{ details.name | titlecase }}
  </span>
</ng-template>
