<div nz-row nzAlign="top" nzJustify="space-between" style="margin: 24px">

  <div nz-col [nzXs] ="'24'" [nzXl] ="'8'">
    <div nz-row>
      <nz-card nz-col nzSpan="24">

        <!-- TODO: Put the details widget here-->
        <game-details-widget-test
          [details]               = "gameDetails"
          [mainTitle]             ="'Game Details'"
          [displayedColumnNames]  ="['teamHome', 'teamAway', 'dateTime', 'location']">
        </game-details-widget-test>

        <nz-divider></nz-divider>

        <!-- TODO: Put the stats widget here-->
        <stat-chart-widget
          [data]    ="selectedStat"
          [title]   ="'Performance details'">
        </stat-chart-widget>
      </nz-card>
    </div>
  </div>

  <div nz-col [nzXs] ="'24'" [nzXl] ="'14'" >
    <div nz-row>
      <stat-list-widget nz-col style="margin-bottom: 24px"
        [nzSpan]              ="'24'"
        [showHeader]          ="true"
        [statistics]          ="gameStats | statisticsFilter : gameDetails.teamHomeId "
        [teamName]            ="gameDetails.teamHome"
        [teamScore]           ="gameDetails.teamHomeScore"
        [displayedColumnNames]="['player', '3pt', '2pt', '1pt', 'extra']"
        (onStatSelectedEvent) ="handleStatSelectedEvent($event)">
      </stat-list-widget>

      <stat-list-widget nz-col style="margin-top: 24px"
        [nzSpan]              ="'24'"
        [showHeader]          ="true"
        [statistics]          ="gameStats | statisticsFilter : gameDetails.teamAwayId "
        [teamName]            ="gameDetails.teamAway"
        [teamScore]           ="gameDetails.teamAwayScore"
        [displayedColumnNames]="['player', '3pt', '2pt', '1pt', 'extra']"
        (onStatSelectedEvent) ="handleStatSelectedEvent($event)">
      </stat-list-widget>

    </div>
  </div>

</div>
