<form nz-form [nzNoColon]="true" [formGroup]="form">

  <!--  This where the form field for NAME gets rendered -->
  <nz-form-item>

    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'name'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Name' | uppercase }}
      </span>
    </nz-form-label>

    <nz-form-control
      nzHasFeedback
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-input-group>
        <input
          nz-input
          type             ="text"
          formControlName  ="name"
          placeholder      ="Enter team name"/>
      </nz-input-group>
    </nz-form-control>

  </nz-form-item>

  <!--  This where the form field for NAME gets rendered -->
  <!--  This where the form field for ROLE gets rendered -->
  <nz-form-item>
    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'coaches'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Coaches' | uppercase }}
      </span>
    </nz-form-label>

    <nz-form-control
      nzHasFeedback
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-select
        [nzPlaceHolder]="'Enter coaches'"
        [nzMaxMultipleCount]  ="2"
        [formControlName]     ="'coaches'"
        [nzMode]              ="'tags'">
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'coaches'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Address' | uppercase }}
      </span>
    </nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-select formControlName="address"
                 [nzMaxMultipleCount] ="1"
                 [nzShowSearch]       ="true"
                 [nzServerSearch]     ="true"
                 [nzMode]             ="'multiple'"
                 [nzPlaceHolder]      ="'Enter detailed address'"
                 (nzOnSearch)="onSearch($event)">
        <ng-container *ngFor="let address of addressList">
          <nz-option
            [nzValue]="address"
            [nzLabel]="address.result">
          </nz-option>
        </ng-container>
        <nz-option *ngIf="(fetchingData$ | async)" nzDisabled nzCustomContent>
          <i nz-icon nzType="loading" class="loading-icon"></i>
          Loading Addresses
        </nz-option>
      </nz-select>
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>
    <nz-form-label
      [nzSpan]      ="24"
      [nzFor]       ="'coaches'">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Court' | uppercase }}
      </span>
    </nz-form-label>

    <nz-form-control
      nzHasFeedback
      [nzSpan]            ="24"
      [nzErrorTip]        =" errorsTemplate">
      <nz-input-number  style="width: 100%;"
        [nzPlaceHolder]="'Enter court capacity'"
        [nzMin]   ="0"
        [nzMax]   ="2000"
        [nzStep]  ="100">
      </nz-input-number>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="24">
      <label nz-checkbox formControlName ="remember">
          <span nz-typography>
            Match Address</span>
      </label>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalTitle style="display: flex; align-items: center; gap: 6px">
  <span nz-typography>Register Team</span>
</div>

<div *nzModalFooter>
  <button nz-button nzType="default"
          [nzLoading]="false"
          (click)="onCancel()">
    Cancel
  </button>
  <button nz-button nzType="primary"
          [disabled]="form.invalid"
          [nzLoading]="(isLoading$ | async)"
          (click)="onSave()">
    Save
  </button>
</div>

<ng-template #errorsTemplate let-control>
  <ng-container *ngIf="control.hasError('maxlength')">
    The given input should be at most  {{ control.errors['maxlength'].requiredLength }} characters.
  </ng-container>
  <ng-container *ngIf="control.hasError('minlength')">
    The given input should be at least {{ control.errors['minlength'].requiredLength }} characters.
  </ng-container>
  <ng-container *ngIf="control.hasError('required')">
    The given input is required.
  </ng-container>
</ng-template>
