/* ------------------------- BASIC VARIABLES ------------------------- */
@import './src/styles';

@menu-collapsed-width:          54px;
@menu-dark-bg:                  #0C2556;
@menu-dark-inline-submenu-bg:   #0C2556;;

@sidebar-margin:                @margin-md;;
@sidebar-padding:               @margin-sm;
@sidebar-logo-color:            @primary-color;
@sidebar-logo-inverse:          @text-color-inverse;
/* ------------------------------------------------------------------- */

.sidebar__logo {
  display:              flex;
  flex-flow:            row nowrap;
  align-items:          center;
  justify-content:      center;
  height:               58px;
  width:                100%;
  h4:nth-child(2)       { display: none; color: @sidebar-logo-color; margin: 0 0 0 @sidebar-margin;}
  h4:nth-child(3)       { display: none; color: @sidebar-logo-inverse; margin: 0; }
}


@media only screen and (min-width:  @screen-lg-min) {
  .sidebar__logo {
    h4:nth-child(2) { display: block }
    h4:nth-child(3) { display: block }
  }

}
