<div class="sidebar__logo">
  <img src="./assets/angular_logo_primary.svg" alt="Angular Logo" width="36" height="36">
  <h4 nz-typography>aero</h4>
  <h4 nz-typography>basket</h4>
</div>
<ul nz-menu
    [nzMode]="'inline'"
    [nzTheme]="'dark'"
    [nzInlineCollapsed]="sidebarCollapsed">
    <antx-group-item antUnwrap
     *ngFor        ="let groupItem of sidebarItems"
     [isCollapsed] ="sidebarCollapsed"
     [item]        ="groupItem">
    </antx-group-item>
</ul>

