:host ::ng-deep .ant-card-head {
  border-bottom: 0;
}

:host ::ng-deep .ant-pagination-item {
  border-radius: 50%;
}

:host ::ng-deep .ant-pagination-item-link {
  border-color: transparent;
  border-radius: 50%;
}

:host ::ng-deep .ant-pagination-item-active {
  font-weight: 500;
  background: #11A1FD;
}

:host ::ng-deep .ant-pagination-item-active a {
  color: white;
}

