
<nz-page-header style="margin: 12px">
  <nz-page-header-content>

    <nz-steps [nzCurrent]="currentPhase" (nzIndexChange)="handlePhaseChangedEvent($event)">
      <!-- The phase should is available by default, but when we. -->
      <nz-step
        [nzDisabled]      ="!availablePhases.includes(0)"
        [nzTitle]         ="'Lock in phase'"
        [nzDescription]   ="'Verify players'">
      </nz-step>
      <!-- The phase should become available when the countdown emits inside the child, which notifies the parent to change the available phases array. -->
      <nz-step
        [nzDisabled]      ="!availablePhases.includes(1) || activePlayers.length < 1"
        [nzTitle]         ="'Stats log phase'"
        [nzDescription]   ="statisticsCountdown">
      </nz-step>
      <!-- The phase should become available when the countdown emits inside the child, which notifies the parent to change the available phases array. -->
      <nz-step
        [nzDisabled]      ="!availablePhases.includes(2)"
        [nzTitle]         ="'Overview phase'"
        [nzDescription]   ="overviewCountDown">
      </nz-step>
    </nz-steps>
    <div [ngSwitch]="currentPhase">

      <game-manage-view-overview
        *ngSwitchCase             ="0"
        [details]                 ="gameDetails"
        [startTime]               ="gameStart"
        [registrations]           ="gameRegistrations"
        [referees]                ="gameReferees"
        (onGameStarted)           ="availablePhases.push(1)"
        (onActivePlayersChanged)  ="handleActivePlayersChangedEvent($event)"
        (onActiveRefereesChanged) ="handleActiveRefereesChanged($event)">
      </game-manage-view-overview>

      <game-manage-view-stats
        *ngSwitchCase             ="1"
        [details]                 ="gameDetails"
        [finishTime]              ="gameFinish"
        [statistics]              ="gameStatistics"
        (onActiveStatsChanged)    ="handleActiveStatsChanged($event)"
        (onGameFinished)          ="availablePhases.push(2)">
      </game-manage-view-stats>

    </div>
  </nz-page-header-content>

</nz-page-header>

<ng-template #statisticsCountdown>
  <nz-countdown
    [nzValue]           ="gameStart.getTime()"
    [nzValueStyle]      = "{ 'color' : currentPhase == 1 ? 'rgb(0, 0, 0)' : 'rgba(0, 0, 0, 0.45)' }">
  </nz-countdown>
</ng-template>

<ng-template #overviewCountDown>
  <nz-countdown
    [nzValue]           ="gameFinish.getTime()"
    [nzValueStyle]      = "{ 'color' : currentPhase == 2 ? 'rgb(0, 0, 0)' : 'rgba(0, 0, 0, 0.45)' }">
  </nz-countdown>
</ng-template>
