:host ::ng-deep .ant-statistic-content {
  font-size: 14px
}

:host ::ng-deep .ant-page-header-content {
  padding-top: 0;
}

:host ::ng-deep .ant-statistic-title {
  margin-bottom: 0;
}

:host ::ng-deep .ant-page-header {
  padding: 0;
}
