<nz-card [nzBordered]="false" [nzBodyStyle]="{ 'padding': 0 }">
  <nz-card-meta
    [nzTitle]       ="title"
    [nzDescription] ="null">
  </nz-card-meta>
  <div>
    <apx-chart
      [series]      ="chartOptions.series"
      [chart]       ="chartOptions.chart"
      [xaxis]       ="chartOptions.xAxis"
      [stroke]      ="chartOptions.stroke"
      [colors]      ="chartOptions.colors"
      [dataLabels]  ="chartOptions.dataLabels"
      [tooltip]     ="chartOptions.tooltip"
      [plotOptions] ="chartOptions.plotOptions"
      [markers]     ="chartOptions.markers"
      [yaxis]       ="chartOptions.yaxis"
      [fill]        ="chartOptions.fill"
      [title]       ="chartOptions.title">
    </apx-chart>
  </div>
</nz-card>
