<nz-card [nzBordered]="false" [nzBodyStyle]="{ 'padding': 0 }">
  <nz-card-meta
    [nzTitle]       ="titleTemplate"
    [nzDescription] ="descriptionTemplate">
  </nz-card-meta>

  <nz-divider></nz-divider>

  <ng-container *ngIf="displayedColumnNames.includes('registration')">

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
        <span
          nz-typography
          nzType      ="secondary"
          style       ="font-weight: 500">
        {{ 'Registered' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
        <span
          nz-typography
          nzType      ="secondary"
          style       ="font-weight: 500">
          {{ details.registeredAt | date }}
      </span>
      </div>
    </div>

  </ng-container>


  <ng-container *ngIf="displayedColumnNames.includes('coaches')">

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Primary Coach' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
       <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ details.primaryCoach | titlecase }}
      </span>
      </div>
    </div>

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
        <span
          nz-typography
          nzType      ="secondary"
          style       ="font-weight: 500">
        {{ 'Secondary Coach' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
        <span
          nz-typography
          nzType      ="secondary"
          style       ="font-weight: 500">
        {{ details.secondaryCoach | titlecase }}
      </span>
      </div>
    </div>

  </ng-container>


  <ng-container *ngIf="displayedColumnNames.includes('address')">

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
        <span
          nz-typography
          nzType      ="secondary"
          style       ="font-weight: 500">
        {{ 'Address' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
        <span
          nz-typography
          nzType      ="secondary"
          style       ="font-weight: 500">
        {{ details.address | addressJoin }}
      </span>
      </div>
    </div>

  </ng-container>


</nz-card>

<ng-template #titleTemplate>
  <div style="display: flex; flex-flow: row nowrap; justify-content: space-between">
    <h5 nz-typography style ="font-weight: 500; margin-bottom: 0">
      {{ mainTitle | titlecase }}
    </h5>
    <nz-tag style="border-radius: 12px">
      {{ details.owner.name }}
    </nz-tag>
  </div>
</ng-template>

<ng-template #descriptionTemplate>
  <span nz-typography nzType ="secondary">
    {{ details.name | uppercase }}
  </span>
</ng-template>
