<nz-card
  *ngIf      ="displayedColumnNames && selectedRegistrations"
  [nzTitle]  ="showHeader ? titleTemplate : null ">
  <perfect-scrollbar>
    <div>
      <nz-table
        #table
        [nzData]            = "registrations"
        [nzBordered]        = "true"
        [nzShowPagination]  = "false"
        [nzSize]            = "'small'"
        [nzPageSize]        = "registrations.length">
        <thead>
          <tr>
            <th *ngIf             ="displayedColumnNames.includes('action')"
                [nzChecked]       ="checked$ | async"
                (nzCheckedChange) ="emitAllRegistrationSelectedEvent()">
            </th>
            <th *ngIf ="displayedColumnNames.includes('id')"        [colSpan] ="1" [rowSpan]="1">  ID       </th>
            <th *ngIf ="displayedColumnNames.includes('name')"      [colSpan] ="1" [rowSpan]="1">  Name     </th>
            <th *ngIf ="displayedColumnNames.includes('birth')"     [colSpan] ="1" [rowSpan]="1">  Birth    </th>
            <th *ngIf ="displayedColumnNames.includes('position')"  [colSpan] ="1" [rowSpan]="1">  Position </th>
            <th *ngIf ="displayedColumnNames.includes('jersey')"    [colSpan] ="1" [rowSpan]="1">  Jersey   </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of table.data">
            <ng-container *ngIf="displayedColumnNames.includes('action')">
              <td
                [nzChecked]       ="selectedRegistrations.includes(data)"
                (nzCheckedChange) ="emitRegistrationSelectedEvent(data)">
              </td>
            </ng-container>

            <ng-container *ngIf="displayedColumnNames.includes('id')">
              <td nz-typography nzType="secondary">
                {{ data.id }}
              </td>
            </ng-container>

            <ng-container *ngIf="displayedColumnNames.includes('name')">
              <td nz-typography nzType="secondary" style="display: flex; gap: 8px; align-items: center">
                <nz-avatar [nzText]="data.playerName | playerInitialsConverter" [nzSize]="'small'" style="flex-shrink: 0" ></nz-avatar>
                <span>
                  {{ data.playerName }}
                </span>
              </td>
            </ng-container>

            <ng-container *ngIf="displayedColumnNames.includes('birth')">
              <td nz-typography nzType="secondary">
                <span>
                  {{ data.playerBirth | date }}
                </span>
              </td>
            </ng-container>

            <ng-container *ngIf="displayedColumnNames.includes('position')">
              <td nz-typography nzType="secondary">
                {{ data.position }}
              </td>
            </ng-container>

            <ng-container *ngIf="displayedColumnNames.includes('jersey')">
              <td nz-typography nzType="secondary" style="text-align: center">
                <nz-tag nzColor="#11A1FD" style="border-radius: 12px; min-width: 40px; text-align: center">
                  {{ data.jerseyNumber }}
                </nz-tag>
              </td>
            </ng-container>

          </tr>

        </tbody>
      </nz-table>
    </div>
  </perfect-scrollbar>
</nz-card>

<ng-template #titleTemplate>
  <div style="display: flex; flex-flow: row nowrap; justify-content: space-between">
    <h5 nz-typography style ="font-weight: 400; margin-bottom: 0; color: white">
      {{ teamName | uppercase }}
    </h5>
<!--    <nz-tag style="border-radius: 12px; min-width: 40px; text-align: center">-->
<!--      {{ teamScore | number }} points-->
<!--    </nz-tag>-->
  </div>
</ng-template>
