<nz-layout>
  <nz-sider class="main-layout__sider"
            [nzTheme]           = "'light'"
            [nzWidth]           = "272"
            [nzCollapsedWidth]  = "58"
            [nzCollapsible]     = "true"
            [(nzCollapsed)]     = "appCollapsed"
            [nzTrigger]         = "null">
    <perfect-scrollbar>
      <app-sidebar [sidebarCollapsed]="appCollapsed"></app-sidebar>
    </perfect-scrollbar>
  </nz-sider>
  <nz-layout>
    <nz-header class="main-layout__header">
      <app-toolbar [toolbarUser]="appUser$ | async"></app-toolbar>
      <ngx-loading-bar [height]="'3px'" [fixed]="false" color="#11A1FD" [includeSpinner]="false" ></ngx-loading-bar>
    </nz-header>
    <nz-content class="main-layout__content">
      <perfect-scrollbar>
        <router-outlet></router-outlet>
      </perfect-scrollbar>
    </nz-content>
  </nz-layout>
</nz-layout>


