/* ------------------------- BASIC VARIABLES ------------------------- */
@toolbar-background:    white;
@toolbar-shadow:        2px 0 6px rgba(0, 20, 40, .30);
@toolbar-height:        64px;
@sidebar-background:    #0C2556;
@sidebar-shadow:        0 0 0 rgba(0, 25, 45, .55);
@sidebar-width:         272px;
/* ------------------------------------------------------------------- */

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nz-layout   { height: 100vh                                                     }
nz-header   { min-width:  100%; padding: 0; z-index:  5                         }
nz-sider    { min-height: 100%; padding: 0; z-index: 10;                        }
nz-content  { padding: 0                                                        }

.main-layout__header {
  background-color:     @toolbar-background;
  box-shadow:           @toolbar-shadow;
  height:               @toolbar-height;
}

.main-layout__sider {
  background-color:     @sidebar-background;
  box-shadow:           @sidebar-shadow;
  width:                @sidebar-width;
}
