<nz-layout class="auth-layout">
  <nz-content class="auth-layout__content">
    <nz-card>
      <nz-card-meta
        [nzAvatar]="logoTemplate" [nzTitle]="titleTemplate">
      </nz-card-meta>
      <router-outlet></router-outlet>
      <div class="auth-layout__footer">
        <i nz-icon
           [nzType]   ="'facebook'"
           [nzTheme]  ="'fill'">
        </i>
        <i nz-icon
           [nzType]   ="'youtube'"
           [nzTheme]  ="'fill'">
        </i>
        <i nz-icon
           [nzType]   ="'twitter-circle'"
           [nzTheme]  ="'fill'">
        </i>
      </div>
    </nz-card>
  </nz-content>
</nz-layout>


<ng-template #titleTemplate>

</ng-template>

<ng-template #logoTemplate>
  <div class="auth-layout__logo">
    <img src="./assets/angular_logo_primary.svg" alt="Angular Logo" width="64" height="64">
    <div style="display: flex; align-items: center; flex-flow: row nowrap">
      <h5 nz-typography>aero</h5>
      <h5 nz-typography>basket</h5>
    </div>
  </div>

</ng-template>
