:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ------------------------- BASIC VARIABLES ------------------------- */
@import './src/styles';

@auth-card-padding:     @padding-lg;
@auth-card-margin:      @margin-lg;
@auth-card-align:       center;
@auth-card-width:       450px;
@auth-card-shadow:      0px 2px 4px -1px rgba(0, 0, 0, 0.20);
/* ------------------------------------------------------------------- */


/* ------------------------ DEFAULT OVERRIDES ------------------------ */
:host ::ng-deep {
  .ant-card-body {
    padding:            @auth-card-padding;
  }
  .ant-card {
    width:              100%;
    border-radius:      @border-radius-sm;
    text-align:         @auth-card-align;
    box-shadow:         @auth-card-shadow
  }
  .ant-card-meta {
    margin-bottom:      @auth-card-margin;
  }
  .ant-card-meta-avatar {
    float:              none;
    padding-right:      0;
  }
}
/* ------------------------------------------------------------------- */

.auth-layout {
  height: 100vh;
}

.auth-layout__logo {
  display:              flex;
  flex-flow:            column nowrap;
  align-items:          center;
  img             { display: none;                    }
  h5:first-child  { color: @primary-color;  margin: 0 }
  h5:last-child   { color: @text-color;     margin: 0 }

}

.auth-layout__content {
  display:              flex;
  flex-flow:            column nowrap;
  align-items:          center;
  justify-content:      center;
  margin:               0 @padding-md;
  flex:                 1 1 auto;
  overflow:             auto;
}

.auth-layout__footer {
  display:              flex;
  flex-flow:            row nowrap;
  align-items:          center;
  justify-content:      center;
  gap:                  @padding-md;
  margin-top:           @margin-md;

  i {
    color:              @text-color-secondary;
    font-size:          @font-size-lg;
    &:hover {
      color:            @primary-color;
    }
  }
}

@media only screen and (min-width:  @screen-sm-min) {
  .auth-layout__logo {
    img {
      display: flex;
    }
  }

}

@media only screen and (min-width:  @screen-md-min) {
  .ant-card {
    width:      70%;
    max-width:  650px;
  }

}
