<nz-card [nzBordered]="false" [nzBodyStyle]="{ 'padding': 0 }">
  <nz-card-meta style="display: flex; align-items: center"
    [nzTitle]       ="titleTemplate"
    [nzDescription] ="descriptionTemplate"
    [nzAvatar]      ="avatarTemplate">
  </nz-card-meta>
  <div nz-row>
    <nz-divider></nz-divider>
    <div nz-col nzSpan="24">
      <h5 nz-typography style ="font-weight: 500">
        {{ title }}
      </h5>
    </div>
  </div>

  <div nz-row style="margin: 16px 0">
    <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Registered' | uppercase }}
      </span>
    </div>
    <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ details.registeredAt | date }}
      </span>
    </div>
  </div>

  <div nz-row style="margin: 16px 0">
    <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Owner' | uppercase }}
      </span>
    </div>
    <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ details.owner.name | titlecase }}
      </span>
    </div>
  </div>

  <div nz-row style="margin: 16px 0">
    <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Primary Coach' | uppercase }}
      </span>
    </div>
    <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ details.primaryCoach | titlecase }}
      </span>
    </div>
  </div>
  <div nz-row style="margin: 16px 0">
    <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Assistant Coach' | uppercase }}
      </span>
    </div>
    <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ details.secondaryCoach | titlecase }}
      </span>
    </div>
  </div>

</nz-card>

<ng-template #titleTemplate>
  <h4 nz-typography
    style     ="font-weight: 500; margin-bottom: 0">
    {{ details.name | uppercase }}
    <nz-badge [nzStatus]="details.active ? 'success': 'error'"></nz-badge>
  </h4>
</ng-template>
<ng-template #descriptionTemplate>
  <span nz-typography
    nzType      ="secondary"
    style       ="font-weight: 500">
    {{ details.address | addressJoin | uppercase }}
  </span>
</ng-template>
<ng-template #avatarTemplate>
  <nz-avatar
    style="background-color: #11A1FD"
    [nzSize]="48" [nzText]="details | teamAvatar"></nz-avatar>
</ng-template>
