
:host ::ng-deep .ant-tag {
  border-radius: 6px;
}

:host ::ng-deep h5.ant-typography {
  margin-bottom: 24px;
}

:host ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 8px;
}
