<div nz-row nzAlign="top" nzJustify="space-between" style="margin: 24px">

  <div nz-col [nzXs] ="'24'" [nzXl] ="'8'">
    <div nz-row>
      <nz-card nz-col nzSpan="24">

        <player-details-widget-test
          [details]               = "playerDetails"
          [registration]          = "playerRegistration"
          [mainTitle]             = "'Player Details'"
          [displayedColumnNames]  = "['id' , 'name' , 'personal' , 'team' , 'position' , 'jersey' , 'birth' , 'status']">
        </player-details-widget-test>

        <nz-divider></nz-divider>

        <stat-chart-multi-widget
          [multiData]             = "recentStats"
          [title]                 = "'Performance Details'">
        </stat-chart-multi-widget>

      </nz-card>
    </div>
  </div>

  <div nz-col [nzXs] ="'24'" [nzXl] ="'12'">
    <div nz-row nzJustify="space-between">
      <game-list-widget nz-col [nzSpan]="'24'"
       (onGameSelectedEvent)  ="handleGameSelectedEvent($event)"
       [games]                ="recentGames"
       [title]                ="'Recent Games'">
      </game-list-widget>
    </div>
  </div>

</div>
