<nz-card [nzBordered]="false" [nzBodyStyle]="{ 'padding': 0 }">
  <nz-card-meta
    [nzTitle]       ="titleTemplate"
    [nzDescription] ="displayedColumnNames.includes('location') ? descriptionTemplate : null">
  </nz-card-meta>

  <nz-divider></nz-divider>

  <ng-container *ngIf="displayedColumnNames.includes('dateTime')">

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Date' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
          {{ details.scheduledStartTime.split(" ")[0] | date }}
      </span>
      </div>
    </div>

    <div nz-row style="margin: 16px 0 ">
      <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Time' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
          {{ details.scheduledStartTime.split(" ")[1] }}
      </span>
      </div>
    </div>

  </ng-container>


  <ng-container *ngIf="displayedColumnNames.includes('teamHome')">

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Home team' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ details.teamHome | uppercase }}
      </span>
      </div>
    </div>

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Home points' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
        <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        <nz-tag nzColor="#11A1FD" style="border-radius: 12px; min-width: 40px; text-align: center">
          {{ details.teamHomeScore ?? 'Not assigned' }}
        </nz-tag>
      </span>
      </div>
    </div>

  </ng-container>


  <ng-container *ngIf="displayedColumnNames.includes('teamAway')">

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Away team' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ details.teamAway | uppercase }}
      </span>
      </div>
    </div>

    <div nz-row style="margin: 16px 0">
      <div nz-col nzSpan="12">
      <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        {{ 'Away points' | uppercase }}
      </span>
      </div>
      <div nz-col nzSpan="12">
        <span
        nz-typography
        nzType      ="secondary"
        style       ="font-weight: 500">
        <nz-tag nzColor="#11A1FD" style="border-radius: 12px; min-width: 40px; text-align: center">
          {{ details.teamAwayScore ?? 'Not assigned' }}
        </nz-tag>
      </span>
      </div>
    </div>

  </ng-container>


</nz-card>

<ng-template #titleTemplate>
  <div style="display: flex; flex-flow: row nowrap; justify-content: space-between">
    <h5 nz-typography style ="font-weight: 500; margin-bottom: 0">
      {{ mainTitle | titlecase }}
    </h5>
    <nz-tag style="border-radius: 12px">
      Round {{ details.roundNumber}}
    </nz-tag>
  </div>
</ng-template>

<ng-template #descriptionTemplate>
  <span nz-typography nzType ="secondary">
    {{ details.location | addressJoin }}
  </span>
</ng-template>
