
<google-map
  [height]    = "'400px'"
  [width]     = "'100%'"
  [center]    ="{ 'lat': gameDetails.location.lat, 'lng': gameDetails.location.lng }"
  [options]   = "mapOptions">
  <map-marker
    [options]   ="originOptions"
    [position]  ="{ 'lat': gameDetails.location.lat, 'lng': gameDetails.location.lng }">
  </map-marker>

  <ng-container *ngFor="let details of this.availableReferees; let infoIndex = index">
    <map-circle
      [center]      ="{ 'lat': details.address.lat  , 'lng': details.address.lng }"
      [options]     = "circleOptions"
      [radius]      = "details.prefDistance">
    </map-circle>
    <map-marker
      [options]     ="markerOptions"
      [position]    ="{ 'lat': details.address.lat , 'lng': details.address.lng }"
      (mapClick)    ="openInfoWindow(infoIndex)">
    </map-marker>
    <map-info-window>
      <user-details-widget
        [details]     = "details"
        [mainTitle]   ="'Referee Details'">
      </user-details-widget>
      <div style="display: flex; justify-content: center; width: 100%">
        <button nz-button nzType="primary" (click)="emitRefereeAssignedEvent(details)" >Assign to game</button>
      </div>
    </map-info-window>
  </ng-container>


</google-map>
