
<nz-page-header>
  <nz-page-header-title>Overview</nz-page-header-title>
  <nz-page-header-extra></nz-page-header-extra>
  <nz-page-header-content>
    <nz-row nzGutter="24">
      <div nz-col nzSpan="14">
        <nz-row [nzGutter]="[24, 24]">
          <nz-col [nzSpan]="10">
            <nz-card>
              <nz-statistic [nzPrefix]="prefix1" [nzValue]="(teamsActive | number)!" [nzTitle]="'Active Teams'"></nz-statistic>
            </nz-card>
          </nz-col>
          <nz-col [nzSpan]="10">
            <nz-card>
              <nz-statistic [nzPrefix]="prefix2" [nzValue]="(playersActive | number)!" [nzTitle]="'Active Players'"></nz-statistic>
            </nz-card>
          </nz-col>

          <nz-col [nzSpan]="20">
            <games-list-widget-test
              [games]                 ="recentGames"
              [showHeader]            ="true"
              [title]                 ="'Recent Games'"
              [subTitle]              ="recentGames[0].roundNumber.toString()"
              [displayedColumnNames]  ="['date', 'teams', 'scores', 'time']"
            ></games-list-widget-test>
          </nz-col>

          <nz-col [nzSpan]="20">
            <games-list-widget-test
              [games]                 ="upcomingGames"
              [showHeader]            ="true"
              [title]                 ="'Upcoming Games'"
              [subTitle]              ="upcomingGames[0].roundNumber.toString()"
              [displayedColumnNames]  ="['date', 'teams', 'scores', 'time']"
            ></games-list-widget-test>
          </nz-col>

        </nz-row>
      </div>
      <div nz-col nzSpan="10">
        <nz-row [nzGutter]="[24, 24]">
          <nz-col [nzSpan]="24">
            <team-ranking-widget
              [rankings]              ="teamRankings"
              [showHeader]            ="true"
              [title]                 ="'Team Rankings'"
              [displayedColumnNames]  = "['#', 'name', 'games' , 'total']"
            ></team-ranking-widget>
          </nz-col>


          <nz-col [nzSpan]="24">
            <player-ranking-widget
              [rankings]              ="playerRankings"
              [showHeader]            ="true"
              [title]                 ="'Player Rankings'"
              [displayedColumnNames]  = "['#', 'name', 'total', 'avg']"
            ></player-ranking-widget>
          </nz-col>


        </nz-row>

      </div>
    </nz-row>

  </nz-page-header-content>
</nz-page-header>

<ng-template #prefix1>
  <i nz-icon nzType="antx:teams"></i>
</ng-template>

<ng-template #prefix2>
  <i nz-icon nzType="antx:players"></i>
</ng-template>




